<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{fname}}'s Website</title>
    </head>
    <body>
    <h1>Hello {{fname}}!</h1>
    <a href="{{ url_for('get_guesses', name=fname) }}">Get Guesses for {{fname}}!</a>
    </body>
    <footer>
        <p>&copy;{{year}}. Built by {{name}}</p>
    </footer>
</html>