<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Café & WiFi API</title>
    </head>
    <body>
        <h1>Welcome to the Café & WiFi API</h1>
    <a href="https://documenter.getpostman.com/view/24573717/2s8YsnXGKA">Read the Documentation</a>
    </body>
</html>